{% extends 'base.html.twig' %}
{% block title %}Post Comments{% endblock %}
{% block body %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<h2>{{ 'templates.comment.list.html.twig.comments'|trans }}</h2>
{% if comments is not empty %}
    <ul>
        {% for comment in comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ 'templates.comment.list.html.twig.no_comments_yet_be_the_first_to_comment'|trans }}</p>
{% endif %}
<h2>{{ 'templates.comment.list.html.twig.add_a_comment'|trans }}</h2>
<form action="{{ path('comment_create', { 'id': post.id }) }}" method="post">
    <div class="form-group">
        <label for="content">{{ 'templates.comment.list.html.twig.content'|trans }}</label>
        <textarea id="content" name="content" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">{{ 'templates.comment.list.html.twig.add_comment'|trans }}</button>
</form>
<p>
    <a href="{{ path('post_index') }}" title="{ 'templates.comment.list.html.twig.back_to_list'|trans }">{{ 'templates.comment.list.html.twig.back_to_list'|trans }}</a>
</p>
