{% extends 'base.html.twig' %}

{% block title %}Create New Post{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'templates.post.new.html.twig.create_new_post'|trans }}</h1>

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <div class="mb-3">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.postDate) }}
            {{ form_widget(form.postDate) }}
            {{ form_errors(form.postDate) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile) }}
            {{ form_errors(form.imageFile) }}
        </div>

        {{ form_row(form.status) }}

        <button type="submit" class="btn btn-success">{{ 'templates.post.new.html.twig.create_post'|trans }}</button>
        <a href="{{ path('post_index') }}" class="btn btn-secondary">{{ 'templates.post.new.html.twig.cancel'|trans }}</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
