{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Users List'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'users.list'|trans }}</h1>
    <a href="{{ url('user_create') }}" class="btn btn-primary">{{ 'Add New'|trans }}</a>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Role'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>
                        {% if user.isBlocked %}
                            <span class="badge bg-danger">{{ 'blocked'|trans }}</span>
                        {% else %}
                            <span class="badge bg-success">{{ 'active'|trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('user_show', {id: user.id}) }}" class="btn btn-info">{{ 'action.show'|trans }}</a>
                        <a href="{{ url('user_edit', {id: user.id}) }}" class="btn btn-warning">{{ 'action.edit'|trans }}</a>
                        {% if user.isBlocked %}
                            <form method="post" action="{{ path('user_unblock', {id: user.id}) }}" class="d-inline"
                                  onsubmit="return confirm('{{ 'Na pewno odblokować?'|trans }}');">
                                <input type="hidden" name="_token" value="{{ csrf_token('unblock_user_' ~ user.id) }}">
                                <button class="btn btn-outline-success">{{ 'Odblokuj'|trans }}</button>
                            </form>
                        {% else %}
                            <form method="post" action="{{ path('user_block', {id: user.id}) }}" class="d-inline"
                                  onsubmit="return confirm('{{ 'Na pewno zablokować?'|trans }}');">
                                <input type="hidden" name="_token" value="{{ csrf_token('block_user_' ~ user.id) }}">
                                <button class="btn btn-outline-danger">{{ 'Zablokuj'|trans }}</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>{{ 'No users found.'|trans }}</p>
    {% endif %}
{% endblock %}
